@font-face {
    font-family: "Golos UI";
    font-style: normal;
    font-weight: 400; /* regular */
    font-display: swap;
    src: url("../fonts/golos-ui_regular.woff2") format("woff2");
}

@font-face {
    font-family: "Golos UI";
    font-style: normal;
    font-weight: 500; /* medium */
    font-display: swap;
    src: url("../fonts/golos-ui_medium.woff2") format("woff2");
}

@font-face {
    font-family: "Golos UI";
    font-style: normal;
    font-weight: 700; /* bold */
    font-display: swap;
    src: url("../fonts/golos-ui_bold.woff2") format("woff2");
}

@font-face {
    font-family: "Golos UI VF";
    font-style: normal;
    font-weight: 100 900; /* variable font range */
    font-display: swap;
    src: url("../fonts/golos-ui_vf.woff2") format("woff2-variations");
}