@use "null";
@use "fonts";
@use "ui";
@use "components";
@use "pages/index";

.preview {
    background-image: url(../img/banner.webp);
    background-size: cover;
}

.preview-title {
  text-transform: uppercase;  
}

a {
    color: #000;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #fff;
    color: #000;
}