<div class="absolute left-0 bottom-0 bg-white p-4 w-full md:w-[400px]">
    <div class="flex gap-3">
        <p class="text-black text-sm font-normal font-inter leading-normal">
            Наш сайт использует файлы cookie,
            чтобы улучшить работу сайта, повысить
            его эффективность и удобство.
            Продолжая использовать сайт
            <span class="text-[#56563f] text-sm font-normal font-inter leading-normal">kruto-design.ru</span>,
            вы&nbspсоглашаетесь на&nbspиспользование
            <span class="border-b border-[#56563f] text-[#56563f] text-sm font-normal font-inter leading-normal">файлов&nbspcookie</span>

        </p>

        <div class="flex self-end mt-2">
            <button class="bg-[#8b8b77] text-white text-xs font-normal font-inter leading-tight px-5 py-1.5">
                Ок
            </button>
        </div>
    </div>
</div>