<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <title>Document</title>
</head>

<body>
    <div class=" header-container">
        <header class=" header wrapper _container">
            <div class="header__menu menu">
                <button type="button" class="menu__icon icon-menu"><span><img src="assets/img/svg/svg_1748245504472.svg"
                            class="header__logo-image"></span></button>
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="" class="menu__link">Портфолио</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Услуги</a></li>
                        <li class="menu__item"><a href="" class="menu__link">СМИ</a></li>
                        <li class="menu__item"><a href="" class="menu__link">О нас</a></li>
                        </ul>
                             <ul class="menu__list">
                        <li class="menu__item"><a href="tel:+74951086827" class="menu__link">+7 (495) 108 68 27</a></li>
     <li class="menu__item"><a href="https://yandex.ru/maps/-/CDGxq03X" target="_blank" class="menu__link" rel="noopener">Рижский пр-д 13</a></li>
                             <li class="menu__item"><button class="burger" aria-label="Open menu">
  <span></span>
  <span class="middle"></span>
  <span></span>
</button></li>

                    </ul>
                </nav>
            </div>
        </header>
        <!-- ВЫЕЗЖАЮЩЕЕ МЕНЮ -->
<nav class="side-menu" id="sideMenu">
  <button class="close-menu" id="closeMenu">&times;</button>
  <ul class="side-menu__list">
    <li>ГЛАВНАЯ</li>
    <li>ПОРТФОЛИО</li>
    <li>СТИЛИ</li>
    <li>КОМНАТЫ</li>
    <li>УСЛУГИ</li>
    <li>СМИ</li>
    <li>О НАС</li>
    <li>ОТЗЫВЫ</li>
    <li>ВОПРОС/ОТВЕТ</li>
    <li>КОНТАКТЫ</li>
  </ul>
  <div class="side-menu__footer">
    <p class="side-menu__footer-contact">РИЖСКИЙ ПРОЕЗД 13<br>+7 (495) 108 68 27</p>
    <p class="side-menu__footer-descr">KD DESIGN — ОТ ДИЗАЙН-ПРОЕКТА ДО РЕАЛИЗАЦИИ</p>
    <div class="side-menu__footer-icon-links">
<ul class="socials">
  <li>
    <a href="https://www.whatsapp.com/" target="_blank" rel="noopener">
      <img src="assets/img/svg/whatsapp.svg" alt="whatsapp" class="side-menu__image">
    </a>
  </li>
  <li>
    <a href="https://www.pinterest.com/" target="_blank" rel="noopener">
      <img src="assets/img/svg/pinterest.svg" alt="pinterest"class="side-menu__image">
    </a>
  </li>
  <li>
    <a href="https://telegram.org/" target="_blank" rel="noopener">
      <img src="assets/img/svg/telegram.svg" alt="telegram"class="side-menu__image">
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/" target="_blank" rel="noopener">
      <img src="assets/img/svg/youtube.svg" alt="youtube"class="side-menu__image">
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/" target="_blank" rel="noopener">
      <img src="assets/img/svg/instagram.svg" alt="instagram"class="side-menu__image">
    </a>
  </li>
  <li>
    <a href="https://vk.com/" target="_blank" rel="noopener">
      <img src="assets/img/svg/vk.svg" alt="vk"class="side-menu__image">
    </a>
  </li>
</ul>

    </div>
  </div>
</nav>
</div>