<section class="py-12 px-4 md:px-6">
  <div class="max-w-[1200px] mx-auto flex flex-col md:flex-row">
    <!-- Левая колонка (черная рамка) -->
    <div class=" w-full md:w-[58%] border border-black md:border-r-0 flex items-center justify-center relative">
      <!-- Контент внутри рамки -->
      <div class="p-4 text-left">
        <!-- Здесь будет контент публикаций -->
        <h2 class="text-[40px] md:text-[55px] leading-[130%] font-bold font-inter uppercase">
          @@title
        </h2>
      </div>
    </div>

    <!-- Правая колонка (изображение) -->
    <div class=" w-full md:w-[42%] max-md:h-[200px] md:max-h-[400px]">
      <!-- Изображение -->
      <img class="w-full h-full object-cover"
           src="https://placehold.co/500x400"
           alt="Пример публикации в СМИ">
    </div>
  </div>
</section>