<section class="promo-form">
  <div class="wrapper _container">
  <div class="promo">
  <div class="promo__content">
    <h2 class="promo__title">
      Узнайте, сколько стоит дизайн-проект с полной реализацией в 2025 году
    </h2>
    <p class="promo__description">
      Собрали для вас бесплатный каталог из 9 законченных проектов со всей стоимостью ремонтных работ, черновых и отделочных материалов, мебели, освещения и техники.
    </p>
    <form class="promo__form">
      <div class="promo__input-wrapper">
        <div class="promo__phone-input">
          <img src="https://flagcdn.com/w40/ru.png" alt="RU" class="promo__flag" />
          <input type="tel" placeholder="+7 (999) 999-99-99" class="promo__input" />
        </div>
        <button type="submit" class="promo__button">Скачать</button>
      </div>
      <label class="hero__checkbox-label">
          <input type="checkbox" class="hero__checkbox" checked>
          <span class="hero__checkbox-custom"></span>
          Даю согласие на обработку моих персональных данных
        </label>
    </form>
  </div>
  <div class="promo__image-wrapper">
    <img src="assets/img/desctop-form.png" alt="Каталог дизайн-проектов" class="promo__image" />
  </div>
    </div>
    </div>
</section>
