

     
<footer class="footer ">
     <div class="wrapper _container">
  <div class="footer__container">
    <div class="footer__columns">
      <!-- Первая колонка -->
      <img src="assets/img/svg/logo-white.svg"
      class="footer__logo-image">
      <div class="footer__column">
        <ul class="footer__list">
          <li class="footer__item">РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</li>
          <li class="footer__item">СТИЛИ</li>
          <li class="footer__item">ПОМЕЩЕНИЯ</li>
          <li class="footer__item">СМИ</li>
        </ul>
      </div>
      
      <!-- Вторая колонка -->
      <div class="footer__column">
        <ul class="footer__list">
          <li class="footer__item">ДИЗАЙН-ПРОЕКТ</li>
          <li class="footer__item">РЕМОНТ</li>
          <li class="footer__item">АРХИТЕКТУРНОЕ НАПРАВЛЕНИЕ</li>
          <li class="footer__item">КО ACADEMY</li>
        </ul>
      </div>
      
      <!-- Третья колонка -->
      <div class="footer__column">
        <ul class="footer__list">
          <li class="footer__item">О НАС</li>
          <li class="footer__item">ОТЗЫВЫ</li>
          <li class="footer__item">КОНТАКТЫ</li>
        </ul>
      </div>
    </div>
    
    <!-- Нижняя часть футера -->
    <div class="footer__bottom">
      <p class="footer__copyright">© 2025 KRUTODESIGN |
         Все права защищены</p>
      <a href="#" class="footer__link">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
</div>
    </div>
</body>
</html>