<section class="py-12 px-4 md:px-6">
    <div class="max-w-[1200px] mx-auto ">
        <!-- Заголовок -->
        <h2 class="text-2xl md:text-[40px] font-black font-inter uppercase md:leading-[71px] mb-10 text-center md:text-left">
            Мы в социальных сетях
        </h2>

        <div class="w-full flex flex-row justify-between gap-5">
            <!-- Левая колонка - Соцсети -->
            <div class="w-full md:w-1/2">
                <!-- Grid контейнер для соцсетей и линий -->
                <div class="border-t border-black">
                    <!-- Instagram -->
                    <div data-social="instagram" class="social-item cursor-pointer grid grid-cols-6 gap-16 pt-6 pb-6 border-b border-black">
                        <div class="row-span-1 text-sm md:text-base font-black font-inter ">/01</div>
                        <div class="row-span-1 text-2xl md:text-[40px] font-normal font-inter ">INSTAGRAM*</div>
                    </div>

                    <!-- YouTube -->
                    <div data-social="youTube" class="social-item cursor-pointer grid grid-cols-6 gap-16 pt-6 pb-6 border-b border-black">
                        <div class="row-span-1 text-sm md:text-base font-black font-inter ">/02</div>
                        <div class="row-span-1 text-2xl md:text-[40px] font-normal font-inter ">YOUTUBE</div>
                    </div>

                    <!-- WhatsApp -->
                    <div data-social="whatsapp" class="social-item cursor-pointer grid grid-cols-6 gap-16 pt-6 pb-6  border-b border-black">
                        <div class="row-span-1 text-sm md:text-base font-black font-inter ">/03</div>
                        <div class="row-span-1 text-2xl md:text-[40px] font-normal font-inter ">WHATSAPP</div>
                    </div>

                    <!-- Telegram -->
                    <div data-social="telegram" class="social-item cursor-pointer grid grid-cols-6 gap-16 pt-6 pb-6  border-b border-black">
                        <div class="row-span-1 text-sm md:text-base font-black font-inter ">/04</div>
                        <div class="row-span-1 text-2xl md:text-[40px] font-normal font-inter ">TELEGRAM</div>
                    </div>

                    <!-- VKontakte -->
                    <div data-social="vkontakte" class="social-item cursor-pointer grid grid-cols-6 gap-16 pt-6 pb-6  border-b border-black">
                        <div class="row-span-1 text-sm md:text-base font-black font-inter ">/05</div>
                        <div class="row-span-1 text-2xl md:text-[40px] font-normal font-inter ">VKONTAKTE</div>
                    </div>

                    <!-- Яндекс.Дзен -->
                    <div data-social="yandexdzen" class="social-item cursor-pointer grid grid-cols-6 gap-16 pt-6 pb-6  border-b border-black">
                        <div class="row-span-1 text-sm md:text-base font-black font-inter ">/06</div>
                        <div class="row-span-1 text-2xl md:text-[40px] font-normal font-inter ">ЯНДЕКС.ДЗЕН</div>
                    </div>
                </div>
            </div>

            <!-- Правая колонка - Изображение (только на десктопе) -->
            <div class="hidden md:block w-1/2 md:max-w-[520px] relative overflow-hidden">
                <img data-preview="instagram" class="absolute w-full h-full object-cover transition-all duration-300 opacity-0 -translate-x-16" src="https://placehold.co/520x606" alt="Социальные сети">
                <img data-preview="youTube" class="absolute w-full h-full object-cover transition-all duration-300 opacity-0 -translate-x-16" src="https://placehold.co/520x606" alt="Социальные сети">
                <img data-preview="whatsapp" class="absolute w-full h-full object-cover transition-all duration-300 opacity-0 -translate-x-16" src="https://placehold.co/520x606" alt="Социальные сети">
                <img data-preview="telegram" class="absolute w-full h-full object-cover transition-all duration-300 opacity-0 -translate-x-16" src="https://placehold.co/520x606" alt="Социальные сети">
                <img data-preview="vkontakte" class="absolute w-full h-full object-cover transition-all duration-300 opacity-0 -translate-x-16" src="https://placehold.co/520x606" alt="Социальные сети">
                <img data-preview="yandexdzen" class="absolute w-full h-full object-cover transition-all duration-300 opacity-0 -translate-x-16" src="https://placehold.co/520x606" alt="Социальные сети">
            </div>
        </div>
        <!-- Примечание -->
        <div class="text-xs md:text-sm font-normal font-inter w-1/2 max-w-[560px]">
            *принадлежит компании Meta, признанной экстремистской организацией и&nbspзапрещенной в&nbspРФ
        </div>
    </div>
</section>