<div class="flex flex-col max-w-[570px] max-sm:w-[365px] min-h-[530px] p-4 border border-black">
    <!-- Заголовок и подзаголовок -->
    <div class="mb-8">
        <div class="text-[18px] leading-[150%] mb-2 uppercase">Отзыв СВЕТЛАНЫ И АЛЕКСАНДРА</div>
        <div class="text-sm leading-[130%] uppercase">ЖК "СИМВОЛ" 70 м2</div>
    </div>

    <!-- Видео -->
    <div class="w-full h-[230px] bg-black mb-8">
        <iframe
                class="w-full h-full"
                src="https://rutube.ru/play/embed/94b9f94c7fab1bfdf0bf706d7147f8f6?p=j8Bs3fEV0J0Ec0F1JRcoPw"

                allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock">
        </iframe>
    </div>

    <!-- Текст отзыва -->
    <div class="w-full mb-8">
        <p class="text-base uppercase">
            "Мы пришли в это прекрасное бюро, мы счастливы получить проект нашей квартиры, очень красивая! Анечка просто угадывала наши желания"
        </p>
    </div>

    <!-- Кнопки -->
    <div class="flex gap-4 mt-auto max-sm:flex-col">
        <a href="" class="uppercase flex items-center justify-center w-[50%] max-sm:w-full h-[50px] border bg-[#8b8b77] text-white border-[#8b8b77] hover:bg-white hover:text-black hover:border-black">
            ПОСМОТРЕТЬ ПРОЕКТ
        </a>
        <a href="" class="uppercase flex items-center justify-center w-[50%] max-sm:w-full h-[50px] bg-white text-black border border-black hover:bg-[#8b8b77] hover:text-white hover:border-[#8b8b77] ">
            СКАЧАТЬ АЛЬБОМ
        </a>
    </div>
</div>